<div class="container_12"> 
	
	

	<div id="featured"> 
	     <img src="images/orbit/overflow.jpg" alt="Overflow: Hidden No More" />
	     <img src="images/orbit/captions.jpg"  alt="HTML Captions" />
	     <img src="images/orbit/features.jpg" alt="and more features" />
	</div>


	
		</div>
