<div id="bannerContainer"> 
<div class="grid_12"> 
	<div id="banner"> 
		<ul class="homeNav"> 
			<li class="panel1"> 
				<div class="image"> 
					<a href="/restaurant/" title="RESTAURANT"><img src="/images/banner/steakseafood.jpg" alt="RESTAURANT" height="403" width="300" border="0" /></a> 
				</div> 
				<div class="button"> 
					<a href="/restaurant/" title="RESTAURANT">RESTAURANT</a> 
				</div> 
				<div class="mouseover1"> 
					<a href="/restaurant/" title="RESTAURANT"><h3>Steak and Seafood</h3></a> 
					<h4>A Tradition of Dining Excellence For Over 35 Years.</h4> 
				</div>
			</li> 
			<li class="panel2"> 
				<div class="image"> 
					<a href="/banquet/" title="BANQUET"><img src="/images/banner/banquets.jpg" alt="BANQUET" height="403" width="300" border="0" /></a> 
				</div> 
				<div class="button"> 
					<a href="/banquet/" title="BANQUET">BANQUET</a> 
				</div> 
				<div class="mouseover2"> 
					<a href="/banquet/" title="BANQUET"><h3>Bring Your Party</h3></a> 
					<h4>Celebrate With Your Family and Friends at Filippas Today!</h4> 
				</div>
			</li> 
			<li class="panel3"> 
				<div class="image"> 
					<a href="/catering/" title="CATERING"><img src="/images/banner/catering.jpg" alt="CATERING" height="403" width="300" border="0" /></a> 
				</div> 
				<div class="button"> 
					<a href="/catering/" title="CATERING">CATERING</a> 
				</div> 
				<div class="mouseover3"> 
					<a href="/catering/" title="CATERING"><h3>Full Service Catering</h3></a> 
					<h4>Relax. Let Us Do All The Work.</h4> 
				</div>
			</li> 
		</ul> 
	</div> 
</div>
</div>
