<div class="container_12"> <h6>Store Hours</h6> 
<p> 
	<b>Monday - Thursday</b>
	11:00 am to 10:00 pm<br />
	Lounge open until 11:00pm<br />

	<b>Friday</b>
	11:00 am to 11:00pm<br />
	Lounge open until Midnight<br />

	<b>Saturday</b>
	12:00 pm to 11:00pm<br />
	Lounge open until Midnight<br />

	<b>Sunday</b>
	12:00 pm to 9:00 pm<br />

	<b>Super Bowl Sunday</b>
	12:00 pm to 6:00 pm<br />

	<b>Mother's Day / Easter Sunday</b>
	10:00 am to 7:00 pm<br />

	<b>Thanksgiving</b>
	12:00 pm to 6:00 pm<br />

	<b>Chirstmas Eve</b>
	3:00 pm to 7:00 pm<br />

	<b>New Year's Eve</b>
	4:00 pm to 9:00 pm<br />

	<b>New Year's Day</b>
	4:00 pm to 9:00 pm<br />

	<b>Memorial Day / Labor Day / Weekends</b>
	Saturday 3:00 pm to 11:00 pm<br />
	Sunday 3:00 pm to 9:00 pm<br />
	Monday 3:00 pm to 9:00 pm<br />

	<b>Closed</b>
	Fourth of July<br />
	Christmas Day	<br />	
	</p>
</div>